---
layout: default
title: BB:Software | Inicio
scripts: ["bower_components/jquery-validation/dist/jquery.validate.js", "bower_components/jquery-waypoints/waypoints.min.js", "js/home.js"]
description: Blackbird Software es una pre-empresa que se forma el año 2014 como parte del ramo de Ingeniería de Software en la UTFSM, para presentarse en la XXII Feria de Software.
---

{% include home/about.html %}

{% include home/team.html %}

{% include home/projects.html %}

{% include home/news.html %}

{% include home/contact.html %}
