---
layout: default
---

<div id="backToTop" class="hidden-md hidden-lg"><i class="fa fa-angle-up"></i></div>
    
<!--home start-->
<div id="home">
  <div class="headerLine hidden-sm hidden-xs">
  	<div id="menuF" class="default">
  		<div class="container">
  			<div class="row">
  				<div class="logo col-md-4">
  					<div>
  						<a href="{{ site.baseurl }}/">
                Logo
  						</a>
  					</div>
  				</div>
  				<div class="col-md-8">
  					<div class="navmenu"style="text-align: center;">
  						<ul id="menu">
  							<li class="active" ><a href="#home">Inicio</a></li>
  							<li><a href="#team">Equipo</a></li>
  							<li><a href="#project">Proyectos</a></li>
  							<li><a href="#news">Noticias</a></li>
  							<li class="last"><a href="#contact">Contacto</a></li>
  						</ul>
  					</div>
  				</div>
  			</div>
  		</div>
    </div>
	</div>
	<div class="container">
		<div class="row">
      <div class="col-md-4 hidden-sm hidden-xs">
        <img src="{{ site.baseurl }}/images/logo_big-inverse-blue.png" alt="Blackbird Software">
      </div>
      <div class="col-md-8">
        <h3>Mision</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at reiciendis nisi nobis esse placeat vel! Perferendis hic, commodi itaque sed dolor quia sit esse unde. Incidunt id, consequatur esse.</p>

        <h3>Vision</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore natus, molestiae voluptates esse fugit, odit cumque totam excepturi voluptatem fugiat dolorem voluptas voluptatum nobis sit suscipit aut dignissimos, itaque nihil.</p>

        <h3>Jon Snow</h3>
        <p>Knows Nothing</p>
      </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 cBusiness">
				<h3>The Best Way to Create Business Site &ndash; Attractive One Page</h3>
				<h4>Discover elegant solution for your online business fast, reliable, affordable.</h4>
        <br><br>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <img src="{{ site.baseurl }}/images/logo-usm.jpg" class="img-responsive picsGall" alt="Universidad Técnica Federico Santa María">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <img src="{{ site.baseurl }}/images/inf-logo.jpg" class="img-responsive picsGall" alt="Departamento de Informática UTFSM">
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
    
{% include team.html %}

{% include projects.html %} 
    
<!--news start-->
<div>
	<div class="line4">		
		<div class="container">
			<div class="row Ama" id="news">
				<div class="col-md-12">
					<h3>Noticias</h3>
					<p>Entérate de nuestras últimas noticias y eventos</p>
				</div>
			</div>
		</div>
  </div>
  
  
  <div class="container">
		<div class="row news">
      {% for post in site.posts limit:2 %}
			<div class="col-md-6  text-left">
  			<img class="img-responsive picsGall" src="{{ post.featured_image}}"/>
  			<h3>{{ post.title | capitalize }}</h3>
  			<ul>
  				<li><i class="fa fa-calendar"></i>{{ post.date | date: "%b %-d, %Y" }}</li>
  				<li><i class="fa fa-tags"></i>Tags: {{ post.tags | join('-') }}</li>
  				<!-- <li><a href="#"><i class="fa fa-comments"></i>0 Comentarios</a></li> -->
  			</ul>
  			{{ post.content }}
  			<hr class="hrNews">
			</div>
      {% endfor %}
		</div>
	</div>
  <div class="container">
    <div class="row news lb">
      {% for post in site.posts limit:2 offset:2 %}
      <div class="col-md-6  text-left">
        <img class="img-responsive picsGall" src="{{ post.featured_image}}"/>
        <h3><a href="#">{{ post.title | capitalize }}</a></h3>
        <ul>
          <li><i class="fa fa-calendar"></i>{{ post.date | date: "%b %-d, %Y" }}</li>
          <li><i class="fa fa-tags"></i>Tags: {{ post.tags | join('-') }}</li>
          <!-- <li><a href="#"><i class="fa fa-comments"></i>0 Comentarios</a></li> -->
        </ul>
        {{ post.content }}
        <hr class="hrNews">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
    
<!--contact start-->
<div>
	<div class="line4">					
		<div class="container">
			<div class="row Ama" id="contact">
				<div class="col-md-12">
				<h3>¿Tienes alguna pregunta? Contáctanos</h3>
				<p>Será un gusto responder a tus dudas y sugerencias</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-xs-12 forma">
				<form>
					<input type="text" class="col-md-6 col-xs-12 name" name='name' placeholder='Nombre *'/>
					<input type="text" class="col-md-6 col-xs-12 Email" name='Email' placeholder='Email *'/>
					<input type="text" class="col-md-12 col-xs-12 Subject" name='Subject' placeholder='Asunto'/>
					<textarea type="text" class="col-md-12 col-xs-12 Message" name='Message' placeholder='Mensaje *'></textarea>
					<div class="cBtn col-xs-12">
						<ul>
							<li class="clear"><a href="#"><i class="fa fa-times"></i>Limpiar</a></li>
							<li class="send"><a href="#"><i class="fa fa-share"></i>Enviar Mensaje</a></li>
						</ul>
					</div>
				</form>
			</div>
			<div class="col-md-3 col-xs-12 cont">
				<ul>
					<li><i class="fa fa-home"></i>5512 Lorem Ipsum Vestibulum 666/13</li>
					<li><i class="fa fa-phone"></i>+1 800 789 50 12, +1 800 450 6935</li>
					<li><a href="#"><i class="fa fa-envelope"></i>mail@compname.com</li></a>
					<li><a href="#"><i class="fa fa-twitter"></i>Twitter</li></a>
					<li><a href="https://www.facebook.com/blackbirdsoftware" target="_blank"><i class="fa fa-facebook-square"></i>Facebook</li></a>
				</ul>
			</div>
		</div>
	</div>
  <br>
	<div class="line7">
		<div class="container">
			<div class="row footer">
				<div class="col-md-12">
          <h3>Síguenos en Redes Sociales</h3>
				</div>
				<div class="soc col-md-12">
					<ul>
						<!-- <li class="soc1"><a href="#"></a></li> -->
						<li class="soc2"><a href="https://www.facebook.com/blackbirdsoftware" target="_blank"></a></li>
						<li class="soc3"><a href="#"></a></li>
						<!-- <li class="soc4"><a href="#"></a></li>
						<li class="soc5"><a href="#"></a></li>
						<li class="soc6"><a href="#"></a></li>
						<li class="soc7"><a href="#"></a></li>
						<li class="soc8"><a href="#"></a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="lineBlack">
		<div class="container">
			<div class="row downLine">
				<div class="col-md-6 text-left copy">
					<p>Copyright &copy; 2014 Blackbird Software. Todos los derechos reservados.</p>
				</div>
				<div class="col-md-6 text-right dm">
					<ul id="downMenu">
						<li class="active"><a href="#home">Inicio</a></li>
						<li><a href="#team">Equipo</a></li>
						<li><a href="#project">Proyectos</a></li>
						<li><a href="#news">Noticias</a></li>
						<li class="last"><a href="#contact">Contacto</a></li>
						<!--li><a href="#features">Features</a></li-->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>		

{% include footer.html %}