<div id="backToTop" class="hidden-md hidden-lg"><i class="fa fa-angle-up"></i></div>

<!-- Friends don't let friends put <script> tags in the <head> -Paul Irish (https://twitter.com/paul_irish/status/416759189961072640) -->
<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/slicknav/jquery.slicknav.js"></script>
<script type="text/javascript">$(function(){ $('#menu').slicknav(); });</script>
