<div id="backToTop" class="hidden-md hidden-lg"><i class="fa fa-angle-up"></i></div>

<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script type="text/javascript">
  $(function(){ // document ready
    $('#menu').slicknav();

    if (!!$('#menuF').offset()) { // make sure "#menuF" element exists
      var stickyTop = $('#menuF').offset().top; // returns number 
      $(window).scroll(function(){ // scroll event
        var windowTop = $(window).scrollTop(); // returns number 
        if (stickyTop < windowTop){
          $('#menuF').removeClass('default').addClass('fixed');
        }
        else {
          $('#menuF').removeClass('fixed').addClass('default');
        }
      });
    }

    $('.navmenu ul li a, #downMenu li a').click(function() {  
      $('html, body').animate({scrollTop: $(this.hash).offset().top - 80}, 800);
      $('.active').removeClass('active');
      $(this).parent().addClass('active');
      return false;
    });

    $('#backToTop').on('click', function(){
      $('html, body').animate({scrollTop: 0}, 800);
    });
  });
</script>