<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.8.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.js"></script>

<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('#menu').slicknav();
  });
</script>

<script type="text/javascript">
  $(function(){ // document ready
    if (!!$('#menuF').offset()) { // make sure "#menuF" element exists
      var stickyTop = $('#menuF').offset().top; // returns number 
      $(window).scroll(function(){ // scroll event
        var windowTop = $(window).scrollTop(); // returns number 
        if (stickyTop < windowTop){
          $('#menuF').removeClass('default').addClass('fixed');
        }
        else {
          $('#menuF').removeClass('fixed').addClass('default');
        }
      });
    }
  });
</script>
<script>
  /*menu*/
  // function calculateScroll() {
  //   var contentTop      =   [];
  //   var contentBottom   =   [];
  //   var winTop      =   $(window).scrollTop();
  //   var rangeTop    =   200;
  //   var rangeBottom =   500;
  //   $('.navmenu').find('a').each(function(){
  //     contentTop.push( $( $(this).attr('href') ).offset().top );
  //     contentBottom.push( $( $(this).attr('href') ).offset().top + $( $(this).attr('href') ).height() );
  //   })
  //   $.each( contentTop, function(i){
  //     if ( winTop > contentTop[i] - rangeTop && winTop < contentBottom[i] - rangeBottom ){
  //       $('.navmenu li')
  //       .removeClass('active')
  //       .eq(i).addClass('active');        
  //     }
  //   })
  // };
  
  $(document).ready(function(){
  //   calculateScroll();
  //   $(window).scroll(function(event) {
  //     calculateScroll();
  //   });
    $('.navmenu ul li a, #downMenu li a').click(function() {  
      $('html, body').animate({scrollTop: $(this.hash).offset().top - 80}, 800);
      $('.active').removeClass('active');
      $(this).parent().addClass('active');
      return false;
    });

    $('#backToTop').on('click', function(){
      $('html, body').animate({scrollTop: 0}, 800);
    })
  });
</script>