<div id="inicio">
  <div class="headerLine hidden-sm hidden-xs">
    <div id="menuF" class="default">
      <div class="container">
        <div class="row">
          <div class="logo col-md-4">
            <div>
              <a href="{{ site.baseurl }}/"><img src="{{ site.url }}/images/logo.png" alt="Blackbird Software"></a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="navmenu"style="text-align: center;">
              <ul id="menu">
                <li class="inicio active" ><a href="{{ site.baseurl }}/#inicio">Inicio</a></li>
                <li class="equipo"><a href="{{ site.baseurl }}/#equipo">Equipo</a></li>
                <li class="proyectos"><a href="{{ site.baseurl }}/#proyectos">Proyectos</a></li>
                <li class="noticias"><a href="{{ site.baseurl }}/#noticias">Noticias</a></li>
                <li class="contacto last"><a href="{{ site.baseurl }}/#contacto">Contacto</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>