<!--project start-->    
<div>
  <div class="line4">
    <div class="container">
      <div id="project1" ></div>
      <div class="row Ama" id="project">
        <div class="col-md-12">
        <span name="projects"></span>
        <h3>Proyectos</h3>
        <p>Conoce nuestros últimos proyectos</p>
        </div>
      </div>
    </div>
  </div>          
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive" src="{{ site.baseurl }}/images/reino-logo.png" alt="pic3 Gallery"/>
      </div>
      <div class="col-md-8">
        <h3><a href="#">Reino Aritmético</a></h3>
        <div class="view project_descr ">
          <ul>
            <li><i class="fa fa-eye"></i>400</li>
            <li><a  class="heart" href="#"><i class="fa-heart-o"></i>124</a></li>
          </ul>
        </div>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quibusdam placeat nostrum alias, aliquam voluptate fugit totam eos quia quidem cumque est rem. Assumenda optio harum voluptatem. Earum, dolorum porro.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id rerum, consequatur temporibus eos possimus reiciendis architecto magnam! Omnis consequatur nam, quod illum. Laboriosam voluptate perferendis in consectetur, quasi alias ratione.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et labore cupiditate reiciendis aspernatur, est doloremque ipsam, praesentium fugiat nostrum nihil qui laboriosam, perferendis ratione. Cumque consequuntur rem odio quasi quae!
        </p>
        <a href="#" class="btn btn-primary">Mas informacion</a>
      </div>
    </div>
  </div>
</div> 