<!--about start-->    
<div>
  <div class="line4">
    <div class="container">
      <div class="row Ama" id="team">
        <h3>¿Quienes Somos?, Conoce Nuestro Equipo</h3>
        <!-- <p>We listen, we discuss, we advise and develop. We love to learn and use the latest technologies.</p> -->
        <p>Somos un equipo joven compuesto por 5 estudiantes de la Universidad Técnica Federico Santa María</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 wwa">
        <span name="about" ></span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row team">
      <div class="col-md-4 b1">
          <img class="img-responsive" src="images/picTeam/picT1.png">
          <h4>Pablo Albornoz N.</h4>
          <h5>Jefe de Proyecto</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <br/>quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
          </ul>
      </div>
      <div class="col-md-4">
          <img class="img-responsive" src="images/picTeam/picT2.png">
          <h4>Nicolas Curapil M.</h4>
          <h5>Desarrollador Android / Comunicación</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br/> quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
          </ul>
      </div>
      <div class="col-md-4 b3">
          <img class="img-responsive" src="images/picTeam/picT3.png">
          <h4>Juan Pablo Escalona G,</h4>
          <h5>Desarrollador NodeJs</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br/> quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
          </ul>
      </div>
    </div>
    <div class="row team">
      <div class="col-md-4 b1 col-md-offset-2">
          <img class="img-responsive" src="images/picTeam/picT1.png">
          <h4>Daniel Tapia R.</h4>
          <h5>Desarrollador Laravel</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <br/>quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
          </ul>
      </div>
      <div class="col-md-4 b3">
          <img class="img-responsive" src="images/picTeam/picT3.png">
          <h4>Carlos Vargas P.</h4>
          <h5>Desarrollador Android</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br/> quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 hr1">
        <hr/>
      </div>
    </div>
  </div>
</div>