<div class="container">
  <div class="row">
    <div class="col-md-4 hidden-sm hidden-xs">
      <img src="{{ site.url }}/images/logo_big.png" alt="Blackbird Software">
    </div>
    <div class="col-md-8">
      <h3>Apostando por las nuevas tecnologías</h3>
      <p>
          En nuestro equipo entendemos que desarrollar soluciones que se ajusten a las necesidades propias de cualquier entorno puede ser una tarea compleja, pero al mismo tiempo nos permite experimentar con las nuevas tecnologías que posibiliten materializar una idea en forma de una plataforma que cubre las necesidades de nuestros clientes.
      </p>
      <p>
        <strong>Blackbird Software</strong> es una pre-empresa que se forma el año 2014 como parte del ramo de Ingeniería de Software en la Universidad Técnica Federico Santa María, para presentarse en la <a href="http://www.feriadesoftware.cl">XXII Feria de Software</a>.
      </p>
      <div class="row">
        <div class="col-sm-4 col-md-offset-2">
          <a href="http://www.usm.cl/">
            <img src="{{ site.url }}/images/logo-usm.jpg" class="img-responsive" alt="Universidad Técnica Federico Santa María">
          </a>
        </div>
        <div class="col-sm-4">
          <a href="http://www.inf.utfsm.cl/">
            <img src="{{ site.url }}/images/inf-logo.jpg" class="img-responsive" alt="Departamento de Informática UTFSM">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
