<!--contact start-->
<span class="begin" data-whom=".contacto"></span>

<div>
  <div class="line4">
    <div class="container">
      <div class="row Ama" id="contacto">
        <div class="col-md-12">
        <h3>¿Tienes alguna pregunta? Contáctanos</h3>
        <p>Será un gusto responder a tus dudas y sugerencias</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-xs-12 forma">
        <form id="contact_form" method="POST" action="{{ site.url }}/contact.php">
          <div class="col-md-6 col-xs-12 name">
            <input type="text" name='Name' placeholder='Nombre *' required>
          </div>
          <div class="col-md-6 col-xs-12 Email">
            <input type="email" name='Email' placeholder='Correo Electrónico *' required>
          </div>
          <div class="col-md-12 col-xs-12 Subject">
            <input type="text" name='Subject' placeholder='Asunto'/>
          </div>
          <div class="col-md-12 col-xs-12 Message">
            <textarea type="text" name='Message' placeholder='Mensaje *' required></textarea>
          </div>

          <div class="cBtn col-xs-12">
            <ul>
              <li>
                <button type="submit">
                  <i class="fa fa-share"></i>Enviar Mensaje
                </button>
              </li>
              <li>
                <button type="reset">
                  <i class="fa fa-times"></i>Limpiar Formulario
                </button>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <div class="col-md-3 col-xs-12 cont">
        <p>
          Puedes comunicarte con nosotros a través de este formulario o a través de redes sociales.
        </p>
        <div class="fb-like-box" style="overflow: hidden; width: 261px" data-href="https://www.facebook.com/BlackbirdSoftware" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    </div>
  </div>
  <br>
  <div class="line7">
    <div class="container">
      <div class="row footer">
        <div class="col-md-12">
          <h3>Síguenos en Redes Sociales</h3>
        </div>
        <div class="soc col-md-12">
          <ul>
            <li class="soc7"><a href="https://plus.google.com/100702718255254992708/" target="_blank"></a></li>
            <li class="soc6"><a href="https://www.youtube.com/channel/UCZVBsVan_5rbKdyyE0Z_ZYw" target="_blank"></a></li>
            <li class="soc2"><a href="https://www.facebook.com/blackbirdsoftware" target="_blank"></a></li>
            <li class="soc3"><a href="http://www.twitter.com/BlackbirdSW" target="_blank"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="lineBlack">
    <div class="container">
      <div class="row downLine">
        <div class="col-md-6 text-left copy">
          <p>Copyright &copy; 2014 Blackbird Software. Todos los derechos reservados.<br/>
          Av. Vicuña Mackenna 3939, San Joaquín, Santiago de Chile. | <strong><i class="fa fa-phone"> Tel:</i></strong> <a href="tel:+56223531200">+56 2 2353 1200</a>
          </p>
        </div>
        <div class="col-md-6 text-right dm">
          <ul id="downMenu">
            <li class="active"><a href="#inicio">Inicio</a></li>
            <li><a href="#equipo">Equipo</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#noticias">Noticias</a></li>
            <li class="last"><a href="#contacto">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="end" data-whom=".contacto"></span>
