<span class="begin" data-whom=".noticias"></span>
<!--news start-->
<div>
  <div class="line4">
    <div class="container">
      <div class="row Ama" id="noticias">
        <div class="col-md-12">
          <h3>Noticias</h3>
          <p>Entérate de nuestras últimas noticias y eventos</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row news">
      {% for post in site.posts limit:2 %}
      <div class="col-md-6  text-left">
        <img class="img-responsive picsGall" src="{{ post.featured_image}}"/>
        <h3><a href="{{ post.url }}">{{ post.title | capitalize }}</a></h3>
        <ul>
          <li><i class="fa fa-calendar"></i>{{ post.date | date: "%b %-d, %Y" }}</li>
          <li><i class="fa fa-tags"></i>Tags: {{ post.tags | join('-') }}</li>
        </ul>
        {{ post.excerpt }}
        <p style="float: left">
          <a href="{{ post.url }}"><i class="fa fa-plus-square"></i> <strong>Leer más</strong></a>
        </p>
        <div style="float: right" class="fb-like" data-href="{{ post.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <div style="clear: both"></div>
        <hr class="hrNews">
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="cBtn" style="text-align: center">
    <ul>
      <li>
        <a href="{{ site.baseurl }}/archive.html">
          <i class="fa fa-calendar"></i> Ver archivo de noticias
        </a>
      </li>
    </ul>
  </div>
</div>
<span class="end" data-whom=".noticias"></span>