<!--project start-->
<div>
  <div class="line4">
    <div class="container">
      <div id="project1" ></div>
      <div class="row Ama" id="proyectos">
        <div class="col-md-12">
        <span name="projects"></span>
        <h3>Proyectos</h3>
        <p>Conoce nuestros últimos proyectos</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive" src="{{ site.baseurl }}/img/reino-logo.png" alt="pic3 Gallery"/>
      </div>
      <div class="col-md-8">
        <h3>Reino Aritmético</h3>
        <p>
          Una experiencia interactiva, donde estudiantes de enseñanza básica pueden tomar el papel de los protectores del reino, enfrentándose a los poderosos monstruos enviados para destruirlo. Usando sus dispositivos móviles, los jugadores trabajan en equipo para avanzar por niveles dinámicos encontrando nuevas armas y armaduras para sus personajes.
        </p>
        <p>
          Como una nueva propuesta en el área de la educación, Reino Aritmético mezcla la tecnología móvil, web, la comunicación en tiempo real y una robusta capa de información para darle a profesores y estudiantes una herramienta de evaluación flexible a sus necesidades.
        </p>
        <p>
          Reino Aritmético es un proyecto de <strong>Blackbird Software</strong> que participa en la XXII Feria de Software de la Universidad Técnica Federico Santa María, a celebrarse el 14 de noviembre de 2014 en el Campus Santiago San Joaquín.
        </p>
        <div class="cBtn">
          <ul>
            <li class="buy">
              <a href="/reino">
                <i class="fa fa-arrow-right"></i> Ir al sitio web del proyecto
              </a>
            </li>
            <li class="dowbload">
              <a href="https://github.com/fixmycode/ReinoAritmetico" target="_blank">
                <i class="fa fa-github"></i> Ver en Github
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
