<!--about start-->
<div>
  <div class="line4">
    <div class="container">
      <div class="row Ama" id="equipo">
        <h3>¿Quienes Somos?, Conoce Nuestro Equipo</h3>
        <p>Somos un equipo joven compuesto por 5 estudiantes de la Universidad Técnica Federico Santa María</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 wwa">
        <p name="about">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus reiciendis, voluptates dolores, eos laboriosam distinctio, rerum veniam sunt incidunt, atque quaerat necessitatibus eaque rem unde. Voluptate iusto, quidem tenetur adipisci.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium similique eos ad praesentium nam excepturi nisi labore at blanditiis quaerat aut cum, est vero velit sapiente rem, atque nostrum! Reiciendis.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row team">
      <div class="col-md-4 b1">
          <img class="img-responsive" src="{{ site.baseurl }}/img/pablo.png">
          <h4>Pablo Albornoz N.</h4>
          <h5>Jefe de Proyectos</h5>
          <p>Desarrollador <em>full-stack</em> con experiencia en la gestión de proyectos de software libre y comerciales. Destaca en la configuración de entornos de desarrollo y servidores. Amplio manejo de la plataforma Android.</p>
          <ul>
            <li><a href="https://github.com/fixmycode" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="http://cl.linkedin.com/pub/pablo-albornoz/70/350/53b" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.facebook.com/fixmycode" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/fixmycode" target="_blank"><i class="fa fa-twitter" ></i></a></li>
            <li><a href="https://plus.google.com/+PabloAlbornoz" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
          </ul>
      </div>
      <div class="col-md-4">
          <img class="img-responsive" src="{{ site.baseurl }}/img/nicolas.png">
          <h4>Nicolas Curapil M.</h4>
          <h5>Desarrollador Android</h5>
          <p>Estudiante dedicado a la plataforma Android con una experiencia previa en desarrollo de esta. Conocimientos de Bases de Datos y otros lenguajes de programación.</p>
          <ul>
            <li><a href="https://github.com/nikopain" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.facebook.com/NikCholesky" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://plus.google.com/108149483481642757936" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
          </ul>
      </div>
      <div class="col-md-4 b3">
          <img class="img-responsive" src="{{ site.baseurl }}/img/juan-pablo.png">
          <h4>Juan Pablo Escalona G,</h4>
          <h5>Desarrollador NodeJs</h5>
          <p>Desarrollador freelance con experiencia en diseño web con conocimientos en PHP/Laravel, JavaScript. Le encanta enseñar, ha realizado dos talleres sobre desarrollo web en la UTFSM.</p>
          <ul>
            <li><a href="https://github.com/mammut" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="http://cl.linkedin.com/pub/juan-pablo-escalona-g/93/752/2b8" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.facebook.com/juam3.14" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/jpescalonag" target="_blank"><i class="fa fa-twitter" ></i></a></li>
            <li><a href="https://plus.google.com/+JuanPabloEscalonaG" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
          </ul>
      </div>
    </div>
    <div class="row team">
      <div class="col-md-4 b1 col-md-offset-2">
          <img class="img-responsive" src="{{ site.baseurl }}/img/daniel.png">
          <h4>Daniel Tapia R.</h4>
          <h5>Desarrollador Laravel</h5>
          <p>Desarrollador Java/PHP, conocimientos avanzados en backend y medios en frontend, al igual que seguridad informática y redes.</p>
          <ul>
            <li><a href="https://github.com/SNBSniper" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="http://cl.linkedin.com/pub/daniel-francisco-tapia-rybertt/5a/b07/463" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.facebook.com/danielf.tapiar" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://plus.google.com/110757702277176132704" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
          </ul>
      </div>
      <div class="col-md-4 b3">
          <img class="img-responsive" src="{{ site.baseurl }}/img/carlos.png">
          <h4>Carlos Vargas P.</h4>
          <h5>Desarrollador Android / Comunicación</h5>
          <p>Experiencia en plataformas móviles y Laravel. Desempeña rol de marketing, gestión y comunicación. Destaca por su entusiasmo y responsabilidad.</p>
          <ul>
            <li><a href="https://github.com/cvargasp" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.facebook.com/Carlitos.Vargas.P" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://plus.google.com/117668066753533533881" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 hr1">
        <hr/>
      </div>
    </div>
  </div>
</div>